Repository model-checking/verify-rust-std, pull requests merged in 2025-01, with the labels that each got.

#235 Generate Kani Metrics
  .github/workflows/kani-metrics.yml
  .gitignore
  doc/book.toml
  doc/mdbook-metrics/Cargo.toml
  doc/mdbook-metrics/src/main.rs
  doc/src/SUMMARY.md
  scripts/kani-std-analysis/kani_std_analysis.py
  scripts/kani-std-analysis/metrics-data.json
  scripts/kani-std-analysis/requirements.txt
  scripts/run-kani.sh
Labels: Maintenance

#174 New Challenge 15 - High-Assurance SIMD Intrinsics for Rust
  doc/src/SUMMARY.md
  doc/src/challenges/0015-intrinsics-simd.md
Labels: Challenge

#236 Goto-transcoder action
  .github/workflows/goto-transcoder.yml
  .gitignore
  doc/src/tools.md
  doc/src/tools/goto-transcoder.md
  scripts/run-goto-transcoder.sh
Labels: Tool Application
